{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>{{ current_user.name.title() }}'s Blog posts</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        {% for post in blogs: %}
        <div class="post-preview">
          <a href="{{ url_for('show_post', post_id=post.id) }}">
            <h2 class="post-title">{{ post.title }}</h2>
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
          </a>
          <p class="post-meta">
            Posted by
            <a href="#">{{ post.author.name }}</a>
            on {{post.date}}
            <!-- TODO: Only show delete button if user id is 1 (admin user) -->
              <a href="{{url_for('delete_post', post_id=post.id) }}" style="color:red">✘ Delete this post</a>
          </p>
        </div>
        <!-- Divider-->
        <hr class="my-4" />
      {% endfor %}
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
